<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018938124475-m1i3tpo4lnuuf2e67tpnqabk4d6m18ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018938124475-m1i3tpo4lnuuf2e67tpnqabk4d6m18ls</string>
	<key>API_KEY</key>
	<string>AIzaSyCeDpXKFkJAVMsj816y23rUImdug2nbB64</string>
	<key>GCM_SENDER_ID</key>
	<string>1018938124475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.hiepchau.TestCallUsingCallKit</string>
	<key>PROJECT_ID</key>
	<string>meddatestcall</string>
	<key>STORAGE_BUCKET</key>
	<string>meddatestcall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018938124475:ios:7a9aa954a87fbcd7ace19e</string>
</dict>
</plist>